<!DOCTYPE html>
<html>
        <%- include('../static/html/head.html'); -%>
    <body>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <p>id</p>
                    </th>
                    <th>
                        <p>name</p>
                    </th>
                    <th>
                        <p>time</p>
                    </th>
                    <th>
                        <p>status</p>
                    </th>
                </tr>
            </thead>
            <% for(let i = 0; i < a.length; i++) { %>
                <tr>
                    <td>
                        <%- a[i].Id %>
                    </td>
                    <td>
                        <%- a[i].Name %>
                    </td>
                    <td>
                        <%- `${a[i].Date.getDate()}.${a[i].Date.getMonth()}.${a[i].Date.getFullYear()}` %>
                    </td>
                    <td>
                        <%- a[i].Status %>
                    </td>
                </tr>
            <%}%>

        </table> 
    </body>
</html>