<!DOCTYPE html>
<html>
        <%- include('../static/html/head.html'); -%>
    <body>
        <div class="form-container">
            <form class="add-form" action="" method="post">
                <input class="textbox" type="text" name="name" placeholder="name">
                <input class="textbox" type="date" name="date" placeholder="time">
                <button value="created" name="status">create</button>
            </form>
        </div> 
        <div class="table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <p>id</p>
                        </th>
                        <th>
                            <p>name</p>
                        </th>
                        <th>
                            <p>time</p>
                        </th>
                        <th>
                            <p>status</p>
                        </th>
                    </tr>
                </thead>
                <% for(let i = 0; i < tasks.length; i++) { %>
                    <tr onclick="document.location='?id=<%- tasks[i].Id%>'">
                        <td>
                            <%- tasks[i].Id %>
                        </td>
                        <td>
                            <%- tasks[i].Name %>
                        </td>
                        <td>
                            <%- `${tasks[i].Date.getDate()}.${tasks[i].Date.getMonth()}.${tasks[i].Date.getFullYear()}` %>
                        </td>
                        <td>
                            <%- tasks[i].Status %>
                        </td>
                    </tr>
                <%}%>
            </table> 
        </div>
    </body>
</html>